body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #fff; */
}


.container {
    display: flex;
    gap: 55px; /* 2px gap between sections */
    width: 890px; /* Total width */
    height: 490px; /* Total height */
}

.left-section {
    width: 100%;
    background-color: none; /* Light gray background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section img {
    width: 120%;
    height: 120%;
    object-fit:contain;
}

/* Right Section */
.right-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h2 {
    text-align: center;
    color: #333;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}


.otp-container {
    display: flex;
    
    width: 338px;
    justify-content: space-around;

    /* gap: 55px; */
}

.otp-input {
    width: 90%;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.otp-button {
    background-color: #28a745;
    width: 60%;
    margin-bottom: 15px;
    margin-right: 0;
    cursor: pointer;
}

.otp-button:hover {
    background-color: #218838;
}

.message {
    text-align: center;
    color: #007BFF;
    font-weight: bold;
}
.reg {
    font-weight: bold;
    font-size: 16px;
    
}
.create {
    color: #007bff;
    text-decoration: none;
    font-size: 15px;
}

.create:hover {
    text-decoration: underline;
}
.main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 340px;
}
.top{
    text-align: center;
}
.tip{
    text-align: center;
}
